<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:requestLegacyExternalStorage="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/optik"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat"
        tools:targetApi="31"
        tools:ignore="ExtraText">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UyeOlActivity"
            android:exported="false" />
        <activity
        android:name=".GirisYapActivity"
        android:exported="false" />
        <activity
            android:name=".SifremiUnuttumActivity"
            android:exported="false" />
        <activity
            android:name=".UyeAnaSayfaActivity"
            android:exported="false" />
        <activity
            android:name=".TrCevapAnahtariOlusturActivity"
            android:exported="false" />
        <activity
            android:name=".CevapAnahtariOlusturActivity"
            android:exported="false" />
        <activity
            android:name=".KontrolYapActivity"
            android:exported="false" />
        <activity
            android:name=".UyeliksizAnaSayfaActivity"
            android:exported="false" />
        <activity
            android:name=".UyeliksizActivity"
            android:exported="false" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.optikform.provider"
        android:exported="false"
        android:grantUriPermissions="true">
        <meta-data
            android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/provider_paths" />
    </provider>
    </application>

</manifest>